# Primary owners

* @tsurdilo @temporalio/sdk @antmendoza

# Below are owners for samples for modules
# that are owned by teams other than the SDK team.
# For each one, we add the owning team, as well as
# @temporalio/sdk, so the SDK team can continue to
# manage repo-wide concerns
/springai/ @temporalio/ai-sdk @temporalio/sdk