# These owners will be the default owners for everything in the repo.
# Later matches override earlier entries.
* @tsurdilo @temporalio/sdk @antmendoza

# IMPORTANT: Make sure to add `@temporalio/sdk` on every override below.
# This is required so that SDK team can do repo-wide maintenance tasks.

/README.md @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/build.gradle @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk

# Below are owners for samples for modules
# that are owned by teams other than the SDK team.

/core/src/main/java/io/temporal/samples/nexus*/ @temporalio/sdk @temporalio/nexus
/core/src/test/java/io/temporal/samples/nexus*/ @temporalio/sdk @temporalio/nexus

/springai/                                               @temporalio/sdk @temporalio/ai-sdk
/core/src/main/java/io/temporal/samples/workflowstreams/ @temporalio/sdk @temporalio/ai-sdk
/core/src/test/java/io/temporal/samples/workflowstreams/ @temporalio/sdk @temporalio/ai-sdk
