target
.*.swp
.*.swo
*.iml
.DS_Store
.idea
.gradle
/build
/core/build
/springboot/build
/springboot-basic/build
/out
/core/out
/springboot/out
/springboot-basic/out
.classpath
.project
.settings/
bin/
core/.vscode/