<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: samples-header"></head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Temporal Java SDK Samples</h5>
            <p class="card-text">Click on sample link to run it.</p>
            <div class="list-group">
                <a href="/hello" class="list-group-item list-group-item-action">Say Hello</a>
            </div>
            <div class="list-group">
                <a href="/metrics" class="list-group-item list-group-item-action">SDK Metrics</a>
            </div>
            <div class="list-group">
                <a href="/update" class="list-group-item list-group-item-action">Synchronous Update</a>
            </div>
            <div class="list-group">
                <a href="/kafka" class="list-group-item list-group-item-action">Kafka Request/Reply</a>
            </div>
            <div class="list-group">
                <a href="/customize" class="list-group-item list-group-item-action">Customize Options</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>